* {
    box-sizing: border-box;
    padding: 0;
}

:root {
    --green:  hsl(169, 82%, 27%);
    --hover:  hsl(148, 38%, 91%);
    --darkgreen:  hsl(169, 89%, 14%);
}

 /* general code  */

body {
    background-color: hsl(148, 38%, 91%);
    font-family: karla;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 140vh;    
}

section {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: auto;
    border: none;
    border-radius: 10px;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    width: auto;
    margin: auto;
    border: none;
    border-radius: 5px;
}

/* content code */

h1 {
    align-self: start;
    margin-top: 0px;
}

.submit-message {
    display: none;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    background-color: var(--darkgreen);
    color: var(--hover);
    border-radius: 5px; 
    padding: 5px;
}

.container {
    margin-bottom: 5px;
}

#firstname, #lastname, #useremail {
    border: 0.5px solid;
    padding: 10px;
    border-radius: 5px;
    outline: none;
}

label, .submit, .consent-cont {
    margin-top: 9.5px;
}

#firstname, #lastname, #useremail, #message, .checkbox{
    margin-top: 5px;
    margin-bottom: 9.5px;
    width: 100%; 
}

.support-cont {
    margin-bottom: 19px;
}

.error-message {
    display: none;
    margin-top: 0;
    margin-bottom: 9.5px; 
    color: red;
}

.enquiry-cont, .support-cont{
    border: 0.5px solid;
    border-radius: 5px;
    margin: 5px 0;
    padding: 10px;
}
.enquiry-cont::before, .support-cont::before {
    background-color: var(--green);
}

input[type=radio] {
    accent-color: var(--green);
}

.enquiry-cont:active {
    background-color: var(--green);
}

#support {
    background-color: var(--green);
}

input[type=checkbox] {
    accent-color: var(--green);
}

textarea {
    width: 100%;
    height: 150px;
    resize: none;
    outline: none;
}

/* .consent-cont {
    display: flex;
    flex-direction: row;
    size: 12px;
} */

.submit {
    padding: 10px;
    background-color: var(--green);
    border: none;
    border-radius: 5px;
    color: white;
}

span {
    color: var(--green);
}

/* Hover state */

.submit:hover{
    background-color:var(--darkgreen);
    cursor: pointer;
}

#firstname:hover, #lastname:hover, #useremail:hover {
    border: 1.5px solid;
    border-color: var(--green);
    cursor: pointer;
}

.checkbox {
    cursor: pointer;
}

/* media queries  */

@media (min-width: 1440px){

    section {
        display: block;
    }

    form {
        display: grid;
        grid-template-columns: 250px 250px;
        grid-template-rows: auto auto auto auto auto auto auto;
        justify-content: space-evenly;
        align-content: center;
        padding: 5px;
        width: 100%;
        margin: auto;
        gap: 8px;
        border: none;
        border-radius: 5px;
    }

    .useremail-cont {
        grid-column: 1/ span 2;
    }

     .lastname-cont {
        grid-column: 2/3;
    } 
    
    .message-cont {
        grid-row: 5;
        grid-column: span 2;
    }
    
    .submit {
        grid-row: 7;
        grid-column: span 2;
    }
}